# Bin
bin/
target/
build/
*.exe
*.exe~
*.dll
*.so
*.dylib

# Bin compilados
*.test
*.out

# IDE
.vscode/
.idea/

# Sistema
.DS_Store

# Terraform state
terraform.tfstate
*.tfstate.*
terraform.tfstate.backup

# Terraform directory
.terraform/

# Crash logs
crash.log

# CLI config
.terraform.lock.hcl
